body{
  padding:0;
  margin:0;
  font-family:comic sans ms;
  background: var(--bg-color);
  overflow: hidden;
}
*{
  box-sizing: border-box;
  padding: 0;
  margin:0;
}
:root{
  --primary-color:crimson;
  --bg-color:#262626;
  --brightWhite:#f8f8ff;
  --dark-black:#1a1a1a;
  --light-dark:#404040;
}
ul{
  list-style:none;
}

/*--------------------HEADER----------*/

header{
  width:100%;
  padding:8px 18px;
  color: var(--brightWhite);
}
#notification{
  float: right;
  
}
#notification i{
  padding-right:7px;

}
#notification i:last-child{
  padding-right: 0;
}
/*------------------LEAD-BANNER----------------*/
main{
  position: relative;
 
}
main .main-img{
  text-align: center;
  padding-top: 50px;
  padding-bottom:10px;
}
main img{
  width: 180px;
  height:180px;
  border-radius: 50%;
  
}
main .main-artist-name{
  text-align: center;
  color: var(--brightWhite);
}
main .main-artist-mp3{
  text-align: center;
  color: var(--primary-color);
}
main .main-playlist{
  color: var(--brightWhite);
  padding-top:20px;
}
main .main-playlist p{
  text-align: center;
  border-bottom: 3px solid var(--primary-color);
  width:70px;
  margin-left:10%;
  padding-bottom: 5px;
}
/*---------------------PLAY_LIST--------------*/
nav{
  width:95%;
  margin:0 auto;
  background: var(--dark-black);
  padding-bottom:15px;

   
}
nav .lead-text{
  color: var(--brightWhite);
}
nav .lead-text h4{
  padding:15px 10px;
  padding-bottom: 10px !important;
}
nav ul li span:nth-child(3){
  width:600px;
}
nav ul li{
  display: flex;
  width:95%;
  margin:0 auto;
  height:50px;
  padding: 14px 0;
  border-bottom:1px solid var(--light-dark);
  box-sizing: initial;

}
nav ul li .digit{
  color:var(--light-dark);
  line-height: 50px;
  padding-right:15px;
}
nav ul li .album-art img{
  width:60px;
  height:50px;
  padding-right:10px;
}
nav ul li .li-mp3-Name{
  color: var(--brightWhite);
}
nav ul li .li-mp3-detail{
  color:var(--light-dark);
}
nav ul li .li-play-btn{
 line-height:50px;
  color:#f8f8ff;
  width:100%;
  color: var(--light-dark);
  text-align: right;
}
/*-----------------FOOTER--------------------*/
footer{
  background:black;
  padding-top:10px;
  bottom:0;
  position:absolute;
  width:100%;
}
footer ul{
  display: flex;
  list-style:none;
  width:100%;
  padding-bottom:15px;
}
footer ul li{
  width:20%;
  text-align: center;
  color: var(--light-dark);
}
footer .footer-border{
  width:30%;
  margin:0 auto;
  background: var(--brightWhite);
  height:5px;
  border-radius: 4px;
}

/*--------------MEDIA QUERIES-----------------*/
/* @media(max-height:520px){
  main{
    position: relative;
 
  }
  main .main-img{
    text-align: center;
    padding-top: 20px;
    padding-bottom:5px;
  }
  main img{
    width: 60px;
    height:60px;
    border-radius: 50%;
  }
  main .main-artist-name{
    text-align: center;
    color: var(--brightWhite);
    
  }
  .main-artist-name h1{
    font-size: 16px;
  }
  main .main-artist-mp3{
    text-align: center;
    color: var(--primary-color);
  }
  .main-artist-mp3{
    font-size: 12px;
  }
  main .main-playlist{
    color: var(--brightWhite);
    padding-top:10px;
  }
  .main-playlist p{
    font-size:12px;
  }
  main .main-playlist p{
    text-align: center;
    border-bottom: 3px solid var(--primary-color);
    width:70px;
    margin-left:10%;
    padding-bottom: 3px;
  }
  
  nav{
    width:95%;
    margin:0 auto;
    background: var(--dark-black);
    padding-bottom:15px;
  
     
  }
  nav .lead-text{
    color: var(--brightWhite);
  }
  nav .lead-text h4{
    padding:5px 10px;
    padding-bottom: 5px !important;
    font-size:12px;
  }
  nav ul li{
    display: flex;
    width:95%;
    margin:0 auto;
    height:30px;
    padding: 14px 0;
    border-bottom:1px solid var(--light-dark);
    box-sizing: initial;
  }
  nav ul li .digit{
    color:var(--light-dark);
    line-height: 30px;
    padding-right:15px;
  }
  nav ul li .album-art img{
    width:40px;
    height:30px;
    padding-right:10px;
  }
  nav ul li .li-mp3-Name{
    color: var(--brightWhite);
  }
  .li-mp3-Name{
    font-size: 10px;
  }
  nav ul li .li-mp3-detail{
    color:var(--light-dark);
  }
  nav ul li .li-play-btn{
   line-height:30px;
    color:#f8f8ff;
    width:100%;
    color: var(--light-dark);
    text-align: right;
  }
} */


 @media(max-height:760px){
  main{
    position: relative;
 font-size:14px; 
   
  }
  main .main-img{
    text-align: center;
    padding-top: 30px;
    padding-bottom:10px;
  }
  main img{
    width: 80px;
    height:80px;
    border-radius: 50%;
  }
  main .main-artist-name{
    text-align: center;
    color: var(--brightWhite);
    
  }
  .main-artist-name h1{
    font-size: 18px;
  }
  main .main-artist-mp3{
    text-align: center;
    color: var(--primary-color);
  }
  .main-artist-mp3{
    font-size: 14px;
  }
  main .main-playlist{
    color: var(--brightWhite);
    padding-top:15px;
  }
  .main-playlist p{
    font-size:14px;
  }
  main .main-playlist p{
    text-align: center;
    border-bottom: 3px solid var(--primary-color);
    width:70px;
    margin-left:10%;
    padding-bottom: 8px;
  }

  nav{
    width:95%;
    margin:0 auto;
    background: var(--dark-black);
    padding-bottom:18px;
  
     
  }
  nav ul li span:nth-child(3){
    width:400px;
  }
  nav .lead-text{
    color: var(--brightWhite);
  }
  nav .lead-text h4{
    padding:10px 10px;
    padding-bottom: 12px !important;
    font-size:14px;
  }
  nav ul li{
    display: flex;
    width:95%;
    margin:0 auto;
    height:30px;
    padding: 14px 0;
    border-bottom:1px solid var(--light-dark);
    box-sizing: initial;
 
  }
  nav ul li .digit{
    color:var(--light-dark);
    line-height: 40px;
    padding-right:15px;
  }
  nav ul li .album-art img{
    width:50px;
    height:40px;
    padding-right:10px;
  }
  nav ul li .li-mp3-Name{
    color: var(--brightWhite);
  }
  .li-mp3-Name{
    font-size: 12px;
  }
  nav ul li .li-mp3-detail{
    color:var(--light-dark);
  }
  nav ul li .li-play-btn{
   line-height:40px;
    color:#f8f8ff;
    width:100%;
    color: var(--light-dark);
    text-align: right;
  }
}
.active{
  color:crimson !important;
}